/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #cad5e2;
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background-color: blueviolet;
  position: relative;
}
nav {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 0;
  color: #fff;
}
.nav-item-active {
  width: 80px;
  background-color: #fff;
  color: #1f1f1f;
  padding: 5px;
}
.logo {
  position: absolute;
  top: 20px;
  left: 20px;
}
.header-text {
  position: absolute;
  top: 150px;
  left: 20px;
  color: #fff;
}
.header-text h2 {
  font-size: 40px;
}
.header-image {
  position: absolute;
  top: 40px;
  right: 0%;
}
.companies {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.company-items {
  text-decoration: none;
  color: black;
  font-weight: 900;
  font-size: 20px;
  margin-top: 20px;
}
.api {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 100px;
}
.api-heading {
  width: 100%;
  text-align: left;
  margin-left: 40px;
}
.cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
}
.card-active {
  color: blueviolet;
  box-shadow: 2px 5px 10px 2px #fff;
  padding: 20px;
  border-radius: 10px;
}

.blog-heading {
  margin: 30px;
}
.blog-cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.blog-card {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-top: 40px;
}
.blog-content {
  position: relative;
  padding: 20px;
  box-shadow: 3px 2px 2px 2px #fff;
  border-radius: 0px 10px 10px 0px;
  height: 285px;
}
.blog-content h6 {
  color: blueviolet;
}
.blog-content h3 {
  font-weight: 900;
}
.blog-bottom {
  margin-top: 11px;
  display: flex;
  flex-direction: row;
  justify-content: last baseline;
  align-items: baseline;
}
.blog-author {
  width: 100%;
  position: absolute;
  top: 88%;
  left: 20%;
}
.blog-card-bottom-image {
  position: absolute;
  top: 90%;
}
.faq-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #dce1e6;
  margin-top: 40px;
  position: relative;
}
.faq-content {
  padding-left: 40px;
  display: flex;
  height: 250px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.faq-content h2 {
  font-size: 40px;
  font-weight: 900;
}
.faq-content h4 {
  font-size: 14px;
  font-weight: 100;
  color: grey;
}
.faq-content button {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: blueviolet;
  color: #fff;
}
.download-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  padding: 40px;
}
.download-content span {
  font-weight: 100;
  color: #1f1f1f;
}
.download-email {
  position: relative;
  display: flex;
}
.download-email input {
  width: 500px;
  height: 40px;
  border: none;
  border-radius: 20px;
  background-color: #dce1e6;
  padding: 20px;
}
.download-email button {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 20px;
  background-color: blueviolet;
  color: #fff;
  padding: 10px;
  position: absolute;
  right: 0%;
}
.footer-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-color: blueviolet;
  color: #fff;
  margin-top: 40px;
}
.footer-left {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.footer-left .list {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.footer-right {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.logos-list {
  list-style: none;
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

@media only screen and (max-width: 480px) {
  .header-image {
    display: none;
  }
  header {
    width: 100%;
    height: 300px;
    position: relative;
  }
  nav {
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 20px;
  }
  .header-text {
    position: absolute;
    top: 100px;
    left: 20px;
  }
  .nav-item,
  .nav-item-active {
    display: none;
  }
  .nav-item-search {
    width: 30px;
    height: 30px;
    margin-top: 1rem;
  }
  .header-text h2 {
    font-size: 25px;
  }
  .header-text p{
    margin-top: 20px;
  }
  .companies {
    width: 100%;
    justify-content: space-between;
    padding: 20px;
  }
  .company-items {
    font-size: 16px;
    margin-top: 10px;
  }
  .api {
    margin-top: 10px;
  }
  .api-heading {
    width: 100%;
    text-align: center;
  }
  .cards {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .blog-heading {
    margin: 25px;
    text-align: center;
  }
  .blog-cards {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .blog-card {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .faq-section {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .faq-content {
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .faq-content h2 {
    font-size: 30px;
  }
  .faq-img{
    width: 430px;
  }
  .download-section {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .download-email input {
    width: 350px;
  }
  .footer-section {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .footer-left {
    width: 100%;
    align-items: center;
  }
  .footer-left .list {
    display: none;
  }
}


@media screen and (min-device-width: 481px) and (max-device-width: 767px) {
  body{
    overflow-x: hidden;
  }
  .header-image {
    display: none;
  }
   header {
    width: 100%;
    height: 300px;
    position: relative;
  }
  nav {
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 20px;
  }
  .header-text {
    position: absolute;
    top: 100px;
    left: 20px;
  }
  .nav-item,
  .nav-item-active {
    display: none;
  }
  .nav-item-search {
    width: 30px;
    height: 30px;
    margin-top: 1rem;
  }
  .header-text h2 {
    font-size: 35px;
  }
  .header-text p{
    margin-top: 20px;
  }
  .companies {
    width: 100%;
    justify-content: space-between;
    padding: 20px;
  }
  .company-items {
    font-size: 20px;
  }
  
  .api {
    margin-top: 10px;
  }
  .api-heading {
    width: 100%;
    text-align: left;
  }
  
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 30px;
  }
  
  .blog-heading {
    margin: 25px;
    text-align: left;
  }
  .blog-cards {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .blog-card {
    width: 100%;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
  
  .faq-section {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .faq-content {
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .faq-content h2 {
    font-size: 40px;
  }
  .faq-img{
    width: 500px;
  }
 
  .download-section {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .footer-left {
    width: 50%;
    align-items: flex-start;
  }
}


@media screen and (min-device-width: 768px) and (max-device-width: 1080px) {
  body{
    overflow-x: hidden;
  }
  .header-image {
    width: 350px;
    position: absolute;
    top: 60px;
    right: 0%;
  }
  
   header {
    width: 100%;
    height: 300px;
    position: relative;
  }
  nav {
    width: 50%;
    justify-content: space-between;
    align-items: flex-end;
    padding-right: 20px;
  }
  .header-text {
    position: absolute;
    top: 100px;
    left: 20px;
  }
  .nav-item-search {
    width: 20px;
    height: 20px;
    margin-top: 1rem;
  }
  .header-text h2 {
    font-size: 35px;
  }
  .header-text p{
    margin-top: 20px;
  }
  .companies {
    width: 70%;
    justify-content: space-around;
  }
  .company-items {
    font-size: 20px;
  }
  
  .api {
    margin-top: 30px;
  }
  .api-heading {
    width: 100%;
    text-align: left;
    padding-left: 10px;
  }
  
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 30px;
  }
  
  .blog-heading {
    margin: 25px;
    text-align: left;
  }
  .blog-cards {
    width: 100%;
    flex-direction: row;
    align-items: center;
  }
  .faq-content h2 {
    font-size: 40px;
  }
  .footer-left {
    width: 50%;
    align-items: flex-start;
  }
}